extends layout

block hero-unit
  .jumbotron
    .container
      
block content
  .container
   
          form.form-inline.search-input-group(action='/posts', method='GET')
            input.form-control.mr-sm-2(type='text', name='term', placeholder='여행지, 제목, 키워드를 입력해주세요', aria-label='Search', value=term)

  br
  br
  .container
    .row
      .col-xl-12
        .section_title.text-center.mb-100
          h3
            | 당신에게 꼭 맞는 여행지
          
    .row
      .col-xl-4.col-md-6.col-lg-4
        .single_news
          .thumb
            a(href="/posts/5df6ae7bd611a80017c1fc88")
              img(src='images/danang.jpg', alt='', width = 300, height = 300)
          .news_content
            .news_meta
            
            h3
              a(href="/posts/5df6ae7bd611a80017c1fc88")
                |　　　　다낭
                
      .col-xl-4.col-md-6.col-lg-4
        .single_news
          .thumb
            a(href="/posts/5df6aeccd611a80017c1fc89")
              img(src='images/hoju.jpg', alt='', width = 300 , height = 300)
          .news_content
            .news_meta
              
            h3
              a(href="/posts/5df6aeccd611a80017c1fc89")
                | 　　　　호주

      .col-xl-4.col-md-6.col-lg-4
        .single_news
          .thumb
            a(href="/posts/5df6af46d611a80017c1fc8a")
              img(src='images/roma.jpg', alt='', width=300, height = 300)
          .news_content
            .news_meta
              
            h3
              a(href="/posts/5df6af46d611a80017c1fc8a")
                |　　　　로마     
    