extends layout

block hero-unit
  .jumbotron
    .container
      
block content
  .container
   
          form.form-inline.search-input-group(action='/questions', method='GET')
            input.form-control.mr-sm-2(type='text', name='term', placeholder='여행지, 제목, 키워드를 입력해주세요', aria-label='Search', value=term)

  br
  br
  .container
    .row
      .col-xl-12
        .section_title.text-center.mb-100
          h3
            | 요즘 뜨는 여행지
          
    .row
      .col-xl-4.col-md-6.col-lg-4
        .single_news
          .thumb
            a(href='#')
              img(src='img/news/1.png', alt='')
          .news_content
            .news_meta
              
            h3
              a(href='#')
                | Commitment to dedicated
                
      .col-xl-4.col-md-6.col-lg-4
        .single_news
          .thumb
            a(href='#')
              img(src='img/news/1.png', alt='')
          .news_content
            .news_meta
              
            h3
              a(href='#')
                | Commitment to dedicated

      .col-xl-4.col-md-6.col-lg-4
        .single_news
          .thumb
            a(href='#')
              img(src='img/news/1.png', alt='')
          .news_content
            .news_meta
              
            h3
              a(href='#')
                | Commitment to dedicated      
    