extends layout

block hero-unit
  .jumbotron
    .container
      
block content
  .container
   
          form.form-inline.search-input-group(action='/posts', method='GET')
            input.form-control.mr-sm-2(type='text', name='term', placeholder='여행지, 제목, 키워드를 입력해주세요', aria-label='Search', value=term)

  br
  br
  .container
    .row
      .col-xl-12
        .section_title.text-center.mb-100
          h3
            | 당신에게 꼭 맞는 여행지
          
    .row
      .col-xl-4.col-md-6.col-lg-4
        .single_news
          .thumb
            a(href="/posts/5dea52a76de71c2d0080c4c9")
              img(src='images/danang.jpg', alt='', width = 300, height = 300)
          .news_content
            .news_meta
            
            h3
              a(href="/posts/5dea52a76de71c2d0080c4c9")
                |　　　　다낭
                
      .col-xl-4.col-md-6.col-lg-4
        .single_news
          .thumb
            a(href="/posts/5dea59b6e8b5f33f8c1c7eb5")
              img(src='images/hoju.jpg', alt='', width = 300 , height = 300)
          .news_content
            .news_meta
              
            h3
              a(href="/posts/5dea59b6e8b5f33f8c1c7eb5")
                | 　　　　호주

      .col-xl-4.col-md-6.col-lg-4
        .single_news
          .thumb
            a(href="/posts/5dea5a36e8b5f33f8c1c7eb6")
              img(src='images/roma.jpg', alt='', width=300, height = 300)
          .news_content
            .news_meta
              
            h3
              a(href="/posts/5dea5a36e8b5f33f8c1c7eb6")
                |　　　　로마     
    