
.tags.badges
  each tag in post.tags
    span.badge.badge-phill.badge-secondary= tag
    | 
.row
  .col-sm
    .numbers.
      #[span.number.num-likes= post.numLikes] likes,
      #[span.number.num-answers= post.numAnswers] comments,
      #[span.number.num-reads= post.numReads] reads
  .col-sm
    .author
      | posted on #{moment(post.createdAt).format('YYYY-MM-DD')}
      if post.author
        | 
        | by #[a(href=`/users/${post.author.id}`)= post.author.name] 
hr