.row
  .col=post.radio

    
    
.row
  .col-sm
    .numbers.
      좋아요 #[span.number.num-likes= post.numLikes]개 /         
      조회수 #[span.number.num-reads= post.numReads]
  .col-sm
    .author
      | 작성일 : #{moment(post.createdAt).format('YYYY-MM-DD')}
      if post.author
        | 
        | / 작성자: #[a(href=`/users/${post.author.id}`)= post.author.name] 
hr